#book_details
{
	width: 45%;
	float: left;
}

#book_controls
{
	text-align: right;
	width:100%;
	margin-bottom: 10px;
}

#book_image
{
	max-width: 50px;
	max-height: 50px;
}

#rating-form
{
	display: inline;
}

#rating-form-container
{
	margin: -4px 0 .9em
}

#rating-form select
{
	margin: 0.2em 0 0.5em 0;
	border: 1px solid #777;
	border-radius: 3px;
	font-size: 10pt;
	padding: 4px 5px;
}

.error
{
	color: red;
}

.users_row
{
	margin-bottom: 7px;
}

.users_avatar_container
{
	float: left;
	width: 40px;
}

.users_info_container
{
	margin-left: 45px;
}

#book_main_cover
{
	width: 150px;
	float: left;
}

#book_main_info
{
	margin-left: 160px;
}

.recom_cover
{
	width: 80px;
	float: left;
	text-align: center;
}

.recom_cover img
{
	width: 70px;
}

.recom_info
{
	margin-left: 90px;
}

#isbn_result
{
	
}

#isbn_result_link
{
	color: green;
}

.ui-autocomplete
{
	font-size: 13px;
}

.ac_main
{
	font-weight: bold;
}

@media( max-width: 500px )
{
	#book_controls
	{
		text-align: left;
	}
	
	#book_main_cover img
	{
		width: 80px;
	}
	
	#book_main_cover
	{
		width: 90px;
	}
	
	#book_main_info
	{
		margin-left: 100px;
	}
	
	#book_main_info strong
	{
		clear: right;
		display: block;
	}
}