#books_controls
{
	float: right;
	margin-bottom: 7px;
}

#books_list .image
{
	text-align: center;
	padding-right: 5px;
}

.dataTable tbody tr td.image
{
	border-left: 1px solid #aed0ea;
}

.dataTable tbody tr td.release_date
{
	border-right: 1px solid #aed0ea;
}

#filter_footer tr
{
	border-top: 2px solid grey;
	background: #EEE;
}

#filter_footer label
{
	font-weight: bold;
}

#filter_footer input, #filter_footer select
{
	margin: 0.2em 0 0.5em 0;
	border: 1px solid #777;
	border-radius: 3px;
	font-size: 10pt;
	padding: 4px 5px;
}

#filter_footer input:focus
{
	border-color: #6B9AC5;
	background-color: #FFFFEF;
}

@media( max-width: 600px )
{
	.release_date, .image
	{
		display: none;
	}
	
	.dataTable tbody tr td.title
	{
		border-left: 1px solid #aed0ea;
	}

	.dataTable tbody tr td.genre
	{
		border-right: 1px solid #aed0ea;
	}
}

@media( max-width: 450px )
{
	.genre
	{
		display: none;
	}
	
	.dataTable tbody tr td.author
	{
		border-right: 1px solid #aed0ea;
	}
}