.comment
{
	margin: 4px 4px 10px 4px;
	border-radius: 3px;
}

.comment_avatar
{
	float: left;
}

.comment_content
{
	margin-left: 40px;
	border: 2px solid lightgrey;
}

.comment .comment_data
{
	background: #F5F5F5;
	font-weight:bold;
	border-bottom: 1px solid #EEE;
	padding: 5px;
}

.comment .comment_text
{
	padding: 5px;
}

.comment_data .comment_num
{
	float: right;
	font-weight: normal;
	color: #111;
	font-style: italic;
}

#comments-list .items
{
	margin-bottom: 15px;
}