#event_details
{
	width: 45%;
	float: left;
}

#event_location
{
	width: 50%;
	margin-left: 50%;
	height: 290px;
	text-align: right;
	margin-bottom: 10px;
}

#event_location_map
{
	height: 280px;
}

#event_location_approx
{
	float: left;
	cursor: help;
}

#event_controls
{
	float: right;
	margin-bottom: 5px;
}

#event_rsvps
{
	margin-bottom: 10px;
}

ul#rsvp_list
{
	padding-left: 2px;
	list-style-type: none;
}

#rsvp-form
{
	display: inline;
}

.event_rsvp
{
	list-style: none;
	display: inline;
	float: left;
	margin-right: 10px;
}

.event_rsvp img, .event_rsvp span
{
	vertical-align: middle;
}

#event_details hr
{
	color: #EEF;
	background: #EEF;
}

@media( max-width: 600px )
{
	#event_details
	{
		float: none;
		width: 100%;
	}
	
	#event_location
	{
		margin-left: 0;
		width: 100%;
	}
	
	#event_controls
	{
		float: none;
	}
}