#events_controls
{
	float: right;
	margin-top: 10px;
	vertical-align: bottom;
}

.event_active
{
	background: #F6FFF6;
}

.date_sort
{
	display: none;
}

#events_list .even.event_active
{
	background: #ECF5EC;
}

#events_list .icon
{
	text-align: center;
}

.dataTable tbody tr td.icon
{
	border-left: 1px solid #aed0ea;
}

.dataTable tbody tr td.user
{
	border-right: 1px solid #aed0ea;
}

#event_types
{
	margin: 0.2em 0 0.1em 0;
	border: 1px solid #777;
	border-radius: 3px;
	font-size: 10pt;
	padding: 4px 5px;
	min-width: 250px;
}

@media( max-width: 600px )
{
	#events_list .user, #events_list .icon
	{
		display: none;
	}
	
	#events_controls
	{
		float: none;
		clear: both;
	}
	
	.dataTable tbody tr td.name
	{
		border-left: 1px solid #aed0ea;
	}
	
	.dataTable tbody tr td.location
	{
		border-right: 1px solid #aed0ea;
	}
}

@media( max-width: 450px )
{
	#events_list .location
	{
		display: none;
	}
	
	.dataTable tbody tr td.date
	{
		border-right: 1px solid #aed0ea;
	}
}