body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 40px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#site_header
{
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background:white url(bg.gif) repeat-x left top;
	z-index:9000;
}

#site_header #header_content
{
	width: 950px;
	margin: 0 auto;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 5px 10px;
	font-size: 200%;
	float:left;
	width:110px;
	color: #EFEFEF;
}

#logo a
{
	color: #EFEFEF;
	text-decoration: none;
}

#mainmenu ul
{
	margin: 0px;
	padding: 0px 5px;
}

#mainmenu > ul > li
{
	display: inline-block;
	padding-top: 12px;
}

#mainmenu > ul > li a
{
	color:#ffffff;
	background-color:transparent;
	font-weight: bold;
	font-size:14px;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu > ul  > li a:hover, #mainmenu > ul > li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

#mainmenu .mainmenu-dropdown
{
	position: absolute;
	list-style: none;
	right: -6px;
	top: 41px;
}

#mainmenu > ul > li#user_controls
{
	float: right;
	padding-top: 5px;
	color: #FFF;
	font-weight: bold;
	position: relative;
}

#mainmenu > ul > li#user_controls.logged_out
{
	padding-top: 12px;
	font-size:14px;
}

#mainmenu > ul li#user_controls:hover
{
	cursor: pointer;
}

#mainmenu > ul li#user_controls a:hover
{
	background: transparent;
}

#mainmenu > ul li#user_controls a
{
	color: #FFF;
	font-size: 13px;
	text-decoration: none;
	vertical-align: middle;
}

#mainmenu > ul > li#user_controls img
{
	vertical-align: middle;
}

#mainmenu > ul > li#user_controls #user_dropdown
{
	background: white;
	list-style: none;
	padding: 3px;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: #C9E0ED;
	width: 130px;
}

#mainmenu > ul > li#user_controls #user_dropdown a
{
	color: #44F;
	display: block;
	padding: 9px;
	font-size: 14px;
}

#mainmenu > ul > li#user_controls #user_dropdown a:hover
{
	background: #EDEDFF;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

br.clear
{
	clear: both;
}

#ajax-loading-main
{
	padding: 4px 15px;
	border-bottom-left-radius: 7px;
	background: black;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9000;
}

.avatar
{
	border: 1px solid grey;
}

.avatar.mini
{
	width: 30px;
	height: 30px;
}

#user_controls .mobile-only
{
	display: none;
}

.ui-datepicker .ui-datepicker-header.ui-corner-all
{
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.ui-tabs.ui-widget-content
{
	border: 0;
	background: none;
}

.ui-tabs > .ui-widget-header
{
	border-radius: 0;
	border-width: 0 0 1px 0;
	background: none;
}

.ui-tabs.ui-widget > .ui-tabs-panel
{
	padding: 1em 2px;
}

.ui-tabs.ui-widget
{
	font-size: inherit;
}

.ui-tabs .ui-widget-content a
{
	color: #06c;
}

.ui-tabs .ui-widget-content a:hover
{
	color: #09f;
}

.ui-front {
	z-index: 9001;
}

.cover_thumb
{
	width: 70px;
}

@media( max-width: 950px )
{
	.container
	{
		width: 100%;
	}
	
	#site_header #header_content
	{
		width: 100%;
	}
	
	#ajax-loading-main
	{
		top: 42px;
	}
}

@media( max-width: 800px )
{
	.ui-dialog
	{
		width: 95% !important;
	}
}

@media( max-width: 500px )
{
	#mainmenu ul li#home_link
	{
		display: none;
	}
	
	#content ul.tabs li a {
		padding-left: 2px;
		padding-right: 2px;
	}
}

@media( max-width: 400px )
{
	#user_controls .mobile-only
	{
		display: block;
	}
	
	#mainmenu > ul > li#books_link, #mainmenu > ul > li#events_link
	{
		display: none;
	}
}

@media( max-width: 300px )
{
	#mainmenu > ul > li#user_controls span#username
	{
		display: none;
	}
}