#body 
{
  background-color:#0000FF;
}

#intro_table tr td
{
	width: 33%;
}

#main_div
{
	background-color:#EDEDED;
	padding: 5px;
}

#main_div h3
{
	color:#0B0B61;
}

#main_div table tr td
{
	width: 20%;
	vertical-align: top;
}

@media( max-width: 600px )
{
	#intro_table tr td
	{
		width: 100%;
		float: left !important; /* The reset css also has important */
	}
		
	.too_big
	{
		display: none;
	}
}