#avatar_container
{
	float:left;
	width: 110px;
}

#info_container
{
	margin-left: 120px;
}

.date_sort
{
	display: none;
}

.event_active
{
	background: #F6FFF6;
}

.event_upcoming
{
	backgound: #F6F6FF;
}

#events_list .even.event_active
{
	background: #ECF5EC;
}

#events_list .even.event_upcoming
{
	background: #ECECF5;
}

#events_list .even.event_in_progress
{
	background: #E4F5E4;
}

#books_list .image
{
	text-align: center;
	padding-right: 5px;
}

#events_list .icon
{
	text-align: center;
}

#event_type_controls, #book_type_controls
{
	float: right;
	margin-bottom: 5px;
}

#event_type_controls select, #book_type_controls select
{
	margin: 0.2em 0 0.5em 0;
	border: 1px solid #777;
	border-radius: 3px;
	font-size: 10pt;
	padding: 4px 5px;
	min-width: 250px;
}

#user_events
{
	margin-top: 5px;
}

#books_list tbody tr td.image, #events_list tbody tr td.icon
{
	border-left: 1px solid #aed0ea;
}

#books_list tbody tr td.status, #events_list tbody tr td.attendees
{
	border-right: 1px solid #aed0ea;
}

@media( max-width: 600px)
{
	#events_list .icon
	{
		display: none;
	}
	
	#books_list .image, #books_list .status
	{
		display: none;
	}
	
	#books_list tbody tr td.title, #events_list tbody tr td.name
	{
		border-left: 1px solid #aed0ea;
	}
	
	#books_list tbody tr td.author
	{
		border-right: 1px solid #aed0ea;
	}
}

@media( max-width: 550px)
{
	#events_list .attendees
	{
		display: none;
	}
	
	#events_list tbody tr td.location
	{
		border-right: 1px solid #aed0ea;
	}
}

@media( max-width: 500px )
{
	#events_list .location
	{
		display: none;
	}
	
	#events_list tbody tr td.date
	{
		border-right: 1px solid #aed0ea;
	}
}